<div class="container">
    <div class="message">
    <p>
    Welcome to Flex the app to make your flex spending tracking seamless<br>
    <br>
    <br>
    <br>
    Please report any issues encountered here
    <br>
    <br>
    <br>
    Idk what else to put here
    </p>
    </div>
    <div class="metrics">
    <p>
    Your balance is: $1200.02
        <br>
        <br>
        <br>
        Your average spending is: $17.86
        <br>
        <br>
        <br>
        For the rest of the semester you can spend $14.86 every day
        </p>
    </div>
</div>