<header>
    <h3>Flex Credit Tracking</h3>
    <div *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <button class="btn btn-warning" (click)="auth.logout()">
          Log out
        </button>
    </div>

    <ng-template #loggedOut>
        <button class="btn btn-primary" (click)="auth.loginWithRedirect()">Log in</button>
    </ng-template>
</header>
<body>
    <ul *ngIf="auth.user$ | async as user">
        <app-homepage>
            <app-firstlogin></app-firstlogin>
        </app-homepage>
      </ul>
</body>